{% extends 'base.html' %}
{% block content %}
	<form class="form form-horizontal" action="{% url 'update-company' id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Update" class="btn btn-primary pull-right" style="clear: both; margin: 10px 0">
    </form>
    
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        Current Logo: <img src="{{ form.instance.logo.url }}" alt="Current Logo" class="company-logo">
    </div>
    <button type="submit">Update Company</button>
    
{% endblock %}