{% extends 'base.html' %}
{% block sidebar %}
    <h1>Filter by</h1>
    <button type="button" class="filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
        Category
    </button>
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">Select Categories</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="filterForm">
                        {% for category in categories %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ category.id }}" id="category{{ category.id }}" name="category_ids">
                                <label class="form-check-label" for="category{{ category.id }}">
                                    {{ category.name }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="applyFilters">Apply Filters</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="filter-button" data-bs-toggle="modal" data-bs-target="#filterModalComp">
        Company
    </button>
    <div class="modal fade" id="filterModalComp" tabindex="-1" aria-labelledby="filterModalCompLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalCompLabel">Select Companies</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="filterFormComp">
                        {% for company in companies %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ company.id }}" id="company{{ company.id }}" name="company_ids">
                                <label class="form-check-label" for="company{{ company.id }}">
                                    {{ company.name }}
                                </label>
                            </div>
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="applyCompanyFilters">Apply Filters</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2>Order by</h2>
    <div class="order-buttons">
        <button class="order-btn" data-order-by="date_offer">Date of offering</button>
        <button class="order-btn" data-order-by="due_date">Due date of offering</button>
    </div>
{% endblock %}
{% block content %}
<h1 class="welcome">Welcome to the site</h1>
<h1 class="welcome">Welcome to the jeb pal</h1>
<div class="input-group mb-3">
    <form id="searchForm" class="d-flex" method="get" action="{% url 'job-index' %}">
        <input type="search" class="form-control" name="search_filter" id="search-box" placeholder="Enter your search here.." aria-label="Job Search">
        <button type="submit" id="search-btn" class="btn btn-secondary">Search</button>
    </form>
</div>
<br/>
<div class="row justify-content-center jobs">
    {% for job in jobs %}
    <div class="col-md-5" id="single_job_div">
        <div class="well-job">
            <a href="/jobs/{{ job.id }}" id="link_to_job">
                <div class="row">
                    <div class="col-md-4">
                        <p>{{ job.category.name }}</p>
                    </div>
                    <div class="col-md-8 text-end">
                        <p><b>{{ job.full_part_time }}</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <p><b>{{ job.company.name }}</b></p>
                        <p>{{ job.name }}</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{ job.company.logo_url }}" alt="Logo of the company">
                    </div>
                </div>
                <p>Job offer expires: {{ job.date_expired|date:"F d, Y" }}</p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
