{% extends 'base.html' %}
{% block content %}
{% include 'job/sidebar_filter.html' %}
<div class="container" id="main_base">
    <h1 class="welcome">Welcome to the jeb pal</h1>
    <div class="input-group mb-3">
        <form id="searchForm" class="d-flex" method="get" action="{% url 'job-index' %}">
            <input type="search" class="form-control" name="search_filter" id="search-box" placeholder="Enter your search here.." aria-label="Job Search">
            <button type="submit" id="search-btn" class="btn btn-secondary">Search</button>
        </form>
    </div>
    <br/>
    <div class="row justify-content-center jobs">
        {% for job in jobs %}
        <div class="col-md-5" id="single_job_div">
            <div class="well-job">
                <a href="/jobs/{{ job.id }}" id="link_to_job">
                    <div class="row">
                        <div class="col-md-4">
                            <p>{{ job.category.name }}</p>
                        </div>
                        <div class="col-md-8 text-end">
                            <p><b>{{ job.full_part_time }}</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <p><b>{{ job.company.name }}</b></p>
                            <p>{{ job.name }}</p>
                        </div>
                        <div class="col-md-4">
                            <img src="{{ job.company.logo_url }}" alt="Logo of the company">
                        </div>
                    </div>
                    <p>Job offer expires: {{ job.date_expired|date:"F d, Y" }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
