<nav class="navbar navbar-expand-lg" id="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Hire Horizon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-2">
            <form method="post" action="{% url 'job-index' %}" class="me-2">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Jobs</button>
            </form>
        </li>
        <li class="nav-item me-2">
            <form method="post" action="{% url 'company-index' %}" class="me-2">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Companies</button>
            </form>
        </li>
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Log out</button>
            </form>
        {% else %}
            <form method="post" action="{% url 'login' %}" class="me-2">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Login</button>
            </form>
            <form method="post" action="{% url 'register' %}" class="me-2">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Register</button>
            </form>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>-->